*,
*::before,
*::after {
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li {
    list-style-type: none;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

}

header {
    background: #9C4706;
    line-height: 0rem;
    
    
}

    header h3 {
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        
    }

    .icon {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon img {
        height: 120px;
        width: 160px;
        opacity: .8;
    }

    nav {
        padding: .5rem;
        background: white;
        opacity: .9;
        line-height: 1.6rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .nav--holder {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        color: rgba(9, 19, 53, 0.8);
        text-transform: uppercase;
    }

    .nav--link:hover {
        color: #9C4706;
    }


main {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 2rem;
    height: 100vh;
}

    .content--holder {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

        main h1 {
            color: #091335;
            font-weight: 900;
            
        }

        .intro--text {
            font-size: .9rem;
        }

        .button--holder {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0;
            padding: 0;

        }

            .button {
                margin: .3rem;
                margin-bottom: .5rem;
                font-weight: 700;
                font-size: .7rem;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                text-transform: uppercase;
                border-radius: 1px;

            }

            .button:hover {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.5);
                background: #091335;
                border-color: #091335;
                color: white;

            }

                .button--main {
                    background: #9C4706;
                    border: 2px solid #9C4706;
                    color: white;
                    padding: .1rem 1.5rem;
                }

                .button--trans {
                    padding: .1rem .5rem;
                    border: 2px solid #9C4706;
                    color: #091335;
                }